<label class="bi bi-paperclip"></label>
<button class="btn btn-secundary btn-sm" onclick="manejarClickAgregarArchivoAdjuntos()"><i class="bi bi-plus"></i></button>

<input type="file" 
    onchange="manejarSeleccionArchivoTarea(event)"
    id="archivoTarea" multiple style="display:none" />

<div data-bind="foreach: archivosAdjuntos">
    <div>
        
        <div style="cursor: pointer" data-bind="text: titulo, hidden: modoEdicion, click: manejarClickTituloArchivoAdjunto"></div>
        <div data-bind="visible: modoEdicion, event: {focusout: manejarFocusoutTituloArchivoAdjunto}">
            <input name="txtArchivoAdjuntoTitulo" type="text" class="form-control" data-bind="value: titulo, attr{'data-id: id'}" />
        </div>
        <div>
            agregado <span data-bind="text: publicado"></span>-
            <span class="fw-bold" style="cursor: pointer" data-bind="text: titulo, hidden: modoEdicion, click: manejarClickBorrarArchivoAdjunto">Borrar</span>
            <span class="fw-bold" style="cursor: pointer" data-bind="click: manejarClickDescargarArchivoAdjunto">Descargar</span>
        </div>
    </div>
</div>